body {
    background-color: #41464b;
    color: whitesmoke;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 30px;
  }
  #intro-img {
    background-image: url(/VEG5.webp);
    background-position: center;
    background-size: cover;
    min-height: 425px;
  }
  .container {
    max-width: 6400px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-content { background-color: #4f5e68; }
   
  #intro-img {
    background-image: url(/VEG2.png);
    background-position: center;
    background-size: cover;
    min-height: 425px;
  }
  
  .text-white { color: rgb(253, 253, 253); }
 
  .page-header-container { text-align: center; }

  .page-header {
    display: inline-block;
    vertical-align: baseline;
    margin-top: 60px;
    margin-bottom: 55px;
    font-size: 500rem;
    font-weight: 400;
  }


  .section-header {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  table {
    width: 50%;
    border-spacing:10px;
  }
  td {
    text-align: center;
    padding: 10px 15px;
  }
  .text-left { text-align: left; }
   
  th {
    color:white;
    font-weight: 400;
    font-size: 1.2rem;
    padding-left: 15px;
    padding-right: 15px;
  }
  tr:nth-child(odd) { background-color: #323c41; }
  tr.tr-header {
    background-color: #c4cdd6;
    height: 50px;
  }
  .mb-0 { margin-bottom: 0; }
  img { max-width: 100%; }
  figure { margin: 0; }
  figcaption { text-align: center; }
  
  .special-items {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
  }
  hr {
    width: 100%;
    border: 0.5px solid white;
  }
  .contact-link {
    color: red;
    font-weight: 700;
    text-decoration: none;
  }
 a { transition: all 0.3s ease; }
  .contact-link:hover { color:rgb(245, 245, 245); }
  .DESSERT{
    display: flow-root;
    margin-left: -15px;
    margin-right: -15px;
  }

  


  .footer-link {
    color: #fff;
    text-decoration: none;
  }
  .page-header {
    display: inline-block;
    vertical-align: baseline;
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 2.1rem;
    font-weight: 400;
  }
  